# Ignore all raw data
data/*
!data/.gitkeep
!data/README.md

# Ignore processed data, but keep the folder
data/processed/*
!data/processed/.gitkeep

# Ignore outputs, but keep the folder structure
outputs/*
!outputs/.gitkeep
!outputs/figures/.gitkeep
!outputs/data/.gitkeep

# Ignore system junk
.DS_Store
Thumbs.db

# Ignore Jupyter temp files
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignore Python cache
__pycache__/